{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <div>
        <a href="{{ path('app_show_groups') }}">Manage Groups</a>
    </div>
    <div>
        <a href="{{ path('app_assessment') }}">Assessments</a>
    </div>

</div>
{% endblock %}
