{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(profileForm) }}
        <div class="text-xl">
            Profile Settings
        </div>
        <br><br>
        {{ include ('profile_settings/_profile_form.html.twig') }}

        <div>
            <button type="submit" class="save-button">Save Settings</button>
        </div>
    {{ form_end(profileForm) }}
{% endblock %}
