{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
{#    <div>#}
{#        <a href="{{ path('app_show_assessments') }}">Assessments</a>#}
{#    </div>#}

</div>
{% endblock %}
