
    {{ form_label(answerForm.answer, 'Write below your answer:', {'label_attr': {'class': 'ticket-label-left'}}) }}
    {{ form_widget(answerForm.answer, {'attr': {'class': 'textarea-ticket ticket-owner'}})}}
    {{ form_errors(answerForm.answer) }}

    <div class="border-b border-gray-300"></div>
        <button type="submit" class="save-button">Reply</button>
    <div class="text-gray-500 mb-4 pb-4 border-b border-gray-300"></div>
